@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root{
  --voilet:#7C3AED;
  --cream: #fff4e7;
  --cyan:#7AD6C2;
  --danger:#a01922;
  --textVoilet:#663399;
  --black:#151418;
}

* , *::after , *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-size: 16px;
}

p{
  text-align: center;
}
body{
  padding: 30px 10px 10px;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: var(--cream);
  color: var(--black);
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:var(--cyan);
  padding: 5px 10px 20px;
  border-radius: 10px;
}

.cash-regiter-img{
  width: 285px;
  max-width: 100%;
  display: block;
  margin: 0 auto ;
}

.main{
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
  width: 420px;
  max-width: 100%;
  border: 2px solid black;
  border-radius: 10px ;
  padding: 10px;
}

h1{
  margin: 0.5rem 0 0.6rem;
  color: var(--textVoilet);
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.cash-div , .bill-div{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}

.cash-div{
  visibility: hidden;
}


.label{
  margin: 0.8rem 0 0;
  font-size: 18px;
  font-weight: 500;
  font-size: 1.3rem;
}


.input{
  margin: 0.3rem 0;
  padding: 3px;
  border: 2px solid var(--black);
  border-radius: 5px;
  text-align: center;
  background-color: var(--cream);
  font-size: 1.2rem;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input:focus{
  outline: none;
  border: 2px solid var(--voilet);
}

/* botton  */
.btn{
  background: var(--voilet);
  border: none;
  color: #fff;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: #fff;
}   

.btn:hover{
  background: #7d3af0;
  will-change: transform;
  transform: translateY(2px);
}

.message{
  margin: 1rem 0 0.5rem;
  visibility: hidden;
  font-weight: 500;
  font-size: 1.1rem;
}

.danger{
  color: var(--danger);
}

.success{
  color: var(--black);
}

/* table  */
.cal-table {
  /* width: 9  0%; */
  text-align: justify;
  border-collapse: collapse;
  margin: auto;
  display: none;
}

.cal-table caption {
  margin: 0.5rem auto;
  font-size: x-large;
  font-weight: 500;
}

th,
td {
  border: 2px solid var(--voilet);
  width: 0%;
  border-collapse: collapse;
  padding: 0.4rem;
  text-align: center;
}

/* footer section */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: var(--redPink);
  padding: 0.1rem 0.1rem 0.2rem;
  text-align: center;
}

.footer h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0 0.5rem;
  text-decoration: underline;
}

.links{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: 0rem;
}

.links li {
  padding: 0.5rem 1rem;
  list-style: none;
}

.link-icon {
    width: 2rem;
}

.link-icon:hover{
  color: var(--redPink) !important;
}

.copyright{
  margin: 0.5rem 0 0.2rem;
  font-weight:500;
}

/* mobile view  */
@media all and (max-width:500px){
  .container{
    padding: 5px 7px 15px;
  }

  .main{
    width:375px;
    padding: 5px;
  }
}

@media all and (max-width:425px){
  .main{
    width: 348px;
  }
}